numpy 
cython
torch==2.3.0
torch-summary
torchaudio
torchelastic
torchtext
torchvision
torchdata
timm
scikit-learn
scikit-image
matplotlib
torch_summary
pandas
opencv-python
umap-learn
Pillow
tqdm
scipy
ipython
jupyter
ipykernel
ipython-genutils
ml_collections
click
omegaconf
nvitop
infomap
colorlog
dash
dash-cytoscape==0.3.0
dash-bootstrap-components
cityscapesscripts
oct2py
git+https://github.com/lucasb-eyer/pydensecrf.git
git+https://github.com/nightrome/cocostuffapi.git#subdirectory=PythonAPI
